<mjml>
    <mj-head>
        <mj-title>Catalogue</mj-title>
        <mj-font name="Public Sans"
                 href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,900;1,400"/>
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active  {color: #ffffff;}
            .link-nostyle { color: inherit;}
            .table th, .table td { border: 1px solid white; }
            .green { background-color:#8BC34A; }
            .red { background-color:#F44336; }
            .orange { background-color:#FF9800; }
        </mj-style>
        <mj-attributes>
            <mj-text
                    color="#ffffff"
                    font-family="Public Sans,sans-serif"
                    font-size="16px"
                    line-height="23px"
            />
        </mj-attributes>
    </mj-head>

    <mj-body background-color="#e5e5e5" width="100%">

        <mj-section background-color="#F3F6F7">
            <mj-column padding-right="0" width="20%">
                <mj-image align="left" alt="Logo de Sirius"
                  src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/38/Logo_de_la_R%C3%A9publique_fran%C3%A7aise_%281999%29.svg/800px-Logo_de_la_R%C3%A9publique_fran%C3%A7aise_%281999%29.svg.png"/>
            </mj-column>
               <mj-column padding-right="0">
                <mj-text align="left" padding="10px 0 25px 25px" font-size="22px" font-weight="900" line-height="26px"
                         color="#5222D0">
                         Rapport d'importation catalogue RCO <br>
                         <%= data.date %>
                </mj-text>
            </mj-column>
        </mj-section>

        <% if(data.added.length > 0) { %>
        <mj-section padding-bottom="20px" padding-top="10px" background-color="#5222d0">
            <mj-column>
                <mj-text align="left" padding-top="50px" color="#ffffff">
                    <%= data.added.length %> Formation(s) ajoutée(s)
                </mj-text>
                <mj-table color="#ffffff" align="left">
                <tr align="left">
                    <th>Index</th>
                    <% Object.keys(data.added[0]).forEach(function(col) { %>
                        <th><%= col %></th>
                    <% }); %>
                </tr>
                <% data.added.forEach(function(row, idx) { %>
                <tr align="left" class="green">
                    <td><%= idx %></td>
                    <% Object.values(row).forEach(function(datum) { %>
                        <td><%= datum %></td>
                    <% }); %>
                </tr>
                <% }); %>
            </mj-table>
            </mj-column>
        </mj-section>
        <% } %>
        <% if(data.updated.length > 0) { %>
       <mj-section padding-bottom="20px" padding-top="10px" background-color="#5222d0">
            <mj-column>
                <mj-text align="left" padding-top="50px" color="#ffffff">
                    <%= data.updated.length %> Formation(s) mise(s) à jour
                </mj-text>
                <mj-table color="#ffffff" align="left">
                    <tr align="left">
                        <th>Index</th>
                        <% Object.keys(data.updated[0]).forEach(function(col) { %>
                            <th><%= col %></th>
                        <% }); %>
                    </tr>
                    <% data.updated.forEach(function(row, idx) { %>
                        <% if(row.published ==="Supprimée") { %>
                            <tr align="left" class="red">
                        <% } else { %>
                            <tr align="left" class="orange">
                        <% } %>
                        <td ><%= idx %></td>
                        <% Object.values(row).forEach(function(datum) { %>
                            <td><%= datum %></td>
                        <% }); %>
                    </tr>
                    <% }); %>
                </mj-table>
            </mj-column>
        </mj-section>
        <% } %>

        <mj-section background-color="#5222d0">
            <mj-column>
                <mj-divider border-width="2px" border-color="lightgrey"/>
            </mj-column>
        </mj-section>

        <mj-section background-color="#5222d0" padding-bottom="0">
            <mj-column padding-top="0">
                <mj-text align="left" font-size="14px" line-height="20px" color="#ffffff">
                    Vous avez reçu cet email car vous êtes dans la  liste de diffusion de ce rapport.
                    <br/>
                    
                    Pour vous désinscrire, veuillez contacter 
                    <a href="mailto:antoine.bigard@beta.gouv.fr"
                        class="link-nostyle">antoine.bigard@beta.gouv.fr</a>
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section background-color="#5222d0" padding-top="0">
            <mj-column>
                <mj-image align="center" width="100px" alt="Logo République Française Marianne"
                          src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/38/Logo_de_la_R%C3%A9publique_fran%C3%A7aise_%281999%29.svg/800px-Logo_de_la_R%C3%A9publique_fran%C3%A7aise_%281999%29.svg.png"/>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>